<h2>Plans</h2>

<table class="list plans">
  <thead>
    <tr>
      <th></th>
      <th class="content">Amateur plan</th>
      <th class="content">Pro plan</th>
      <th class="content">Enterprise plan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="title">Leagues</td>
      <td class="content">1</td>
      <td class="content">Unlimited</td>
      <td class="content">Unlimited</td>
    </tr>
    <tr>
      <td class="title">Players</td>
      <td class="content">10</td>
      <td class="content">Unlimited</td>
      <td class="content">Unlimited</td>
    </tr>
    <tr>
      <td class="title">Ratings</td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
    </tr>
    <tr>
      <td class="title">Basic Metrics</td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
    </tr>
    <tr>
      <td class="title">Advanced Metrics</td>
      <td class="content"></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
    </tr>
    <tr>
      <td class="title">Custom Metrics</td>
      <td class="content"></td>
      <td class="content"></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
    </tr>
    <tr>
      <td class="title">API Access</td>
      <td class="content"></td>
      <td class="content"></td>
      <td class="content"><span class="icon fa-check-circle"></span></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td class="title">Cost</td>
      <td class="content">Free</td>
      <td class="content">$1 / player / month</td>
      <td class="content">Contact us</td>
    </tr>
    <tr>
      <td></td>
      <td class="content"><%= link_to "Sign up", new_league_path, class: "button" %></td>
      <td class="content"><%= link_to "Sign up", "#", class: "button disabled" %></td>
      <td class="content"><%= link_to "Sign up", "#", class: "button disabled" %></td>
    </tr>
  </tfoot>
</table>
