// $color1: rgba(239, 100, 97, 1); /*  #ef6461 */
$color2: rgba(228, 179, 99, 1);
$color3: rgba(232, 233, 235, 1);
$color4: rgba(224, 223, 213, 1);
$color5: rgba(49, 54, 56, 1);

$template-red: #e5474b;

$logo-color: $color3;
$logo-hover-color: $color4;
$red-color: $template-red;