@import '_colors';

div.flash {
  color: #ffffff !important;
  height: 49px;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

div.flash.error {
  background-color: #e5474b;
}

div.flash.notice {
  background-color: #5a5a5a;
}

td.select-icon {
  width: 40px;
  opacity: 0.5;
}

tr.clickable:hover {
  cursor: pointer;

  td.select-icon {
    opacity: 1;
  }
}

td.gravatar {
  width: 61px;
}
